/* No se sigue la metodología BEM, por ahora*/
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-padding-top: 4rem;
}

:root {
    --dark-color: #e2dcc6;
    --light-color: #251749;
    --on-dark: whitesmoke;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-color);
    text-align: center;
}

header {
    top: 0;
    padding-top: 5rem;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: 0 1rem;
}

figcaption {
    width: 30%;
}

h2,
h1,
h3,
h4 {
    font-size: 2.5rem;
    color: #531e1e;
    word-wrap: break-word;
}

h2 {
    font-size: 2.15rem;
}

h3 {
    padding: 0.7rem;
    color: var(--on-dark);
    background-color: var(--light-color);
    font-size: 1.5rem;
}

h4 {
    padding-bottom: 0;
    margin-bottom: -1rem;
    font-size: 1.25rem;
}

h5 {
    color: #554186;
    font-size: 1.1rem;
}

.subtitle {
    font-size: 1.5rem;
    color: var(--light-color);
}

nav {
    word-spacing: 2rem;
    width: 100%;
    margin: auto;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    float: left;
}

ul {
    margin: auto;
    width: 65%;
    color: var(--light-color);
}

li > ul {
    width: 100%;
}

.skills {
    display: grid;
    grid-template-columns: auto auto;
}

li {
    text-align: left;
    display: inline;
    padding: 0.5rem;
    list-style-type: none;
}

main {
    position: relative;
    top: 8rem;
    margin-bottom: 10rem;
}

section {
    padding-bottom: 4rem;
}

figure {
    display: flex;
}

p {
    margin: auto;
    padding: 0 1rem;
    color: black;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

header a:hover {
    background-color: var(--on-dark);
    color:#554186;
}

img {
    width: 60%;
    border: 1.5rem groove var(--light-color);
}

.icono {
    width: 4rem;
    height: 4rem;
    border: none;
    position: relative;
    top: 0.75rem;
}

.photo {
    border-radius: 50%;
}

.photo:hover {
    animation: 3s linear infinite rotate;
}

#welcome-section {
    height: 100vh;
}

.welcome {
    width: 50%;
}

#projects {
    margin: auto;
    width: 90%;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.project-tile {
    height: 100%;
    margin: auto;
    width: 31%;
    border-radius: 5%;
    padding: 2.5rem 1.5rem;
}

.project-tile:hover {
    transform: scale(1.25);
    cursor: not-allowed;
}

.project {
    width: 100%;
    height: 100%;
}

.socials {
    margin: auto;
    text-align: center;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.social {
    margin: 2rem 2rem auto 2rem;
    width: 5rem;
    height: 4.25rem;
    padding-top: 0.75rem;
    background-color: var(--light-color);
    border-radius: 50%;
}

i {
    text-align: center;
    font-size: 3.5rem;
    height: 100%;
    width: 100%;
    margin: auto;
    color: var(--dark-color);
    background-color: black;
    padding: 0.5rem;
}

p > i {
    width: 3.5rem;
}

a > i {
    padding: 0;
    background: none;
}

.social:hover {
    background-color: var(--dark-color);
}

a > i:hover {
    color: azure;
}

footer {
    border-top: 2px groove var(--light-color);
    color: var(--light-color);
    padding: 2rem auto 0 auto;
    margin: 2rem auto 0.5rem auto;
}

.profile-link {
    color: var(--light-color);
    padding: auto;
}

@media only screen and (max-width: 800px) {
    header a {
        font-size: 1.25rem;
    }

    main {
        top: 10rem;
        margin-bottom: 12rem;
    }

    .skills {
        display: flex;
        flex-wrap: wrap;
    }

    figure {
        display: grid;
        margin: auto;
        padding: auto;
    }

    figcaption {
        width: 50%;
    }

    img {
        border-width: 0.75rem;
    }

    .project-tile {
        width: 50%;
    }
}

@media only screen and (max-width: 400px) {
    html {
        scroll-padding-top: 10rem;
    }

    li {
        display: grid;
    }

    header a {
        font-size: 0.9rem;
    }

    figcaption {
        width: 70%;
    }

    img {
        border-width: 0.5rem;
    }

    .project-tile {
        width: 75%;
    }
}

/* Añadir animacion para fondo o foto */
@keyframes rotate {
    25% {
        transform: rotate(35deg);
    }

    50% {
        transform: rotate(-35deg);
    }

    75% {
        transform: rotate(-35deg);
    }
}